.acc-container {
	-webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
  width:100%;
  margin:5px auto 0 auto;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -o-border-radius:8px;
  border-radius:8px;
  overflow:hidden;
}

.acc-btn {
  width:100%;
  margin:0 auto;
  padding:10px 15px;
  cursor:pointer;
  background:#327DB5;
  border-bottom:1px solid #2C6691;
}

.acc-content {
  height:0px;
  width:100%;
  margin:0 auto;
  overflow:hidden;
  background:#E6EDF2;
}

.acc-content-inner {
  padding:10px;
}

.acc-content-open {
  height: auto;
}

.acc-btn-title{
	color: #7AABCF;
}
.acc-btn-selected {
  color:#FFFFFF;
}