.font-type-1{
  font-family: 'Oswald', sans-serif;
}
.font-type-2{
  font-family: 'Istok Web', sans-serif;
}


.spinner-master * {transition:all 0.3s;-webkit-transition:all 0.3s;box-sizing:border-box;}

.spinner-master {position:relative;margin:0;height:1.5em;width:1.4em;}

.spinner-master input[type=checkbox] {display:none;}
.spinner-master label {cursor:pointer;position:absolute;z-index:99;height:100%;width:100%;top:10px;left:0;}

.spinner-master .spinner {position:absolute;height:0.21em;width:100%;background-color:#EB482F;}

.spinner-master .diagonal.part-1 {position:relative;float:left;}
.spinner-master .horizontal {position:relative;float:left;margin-top:0.23em;}
.spinner-master .diagonal.part-2 {position:relative;float:left;margin-top:0.20em;}

.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .horizontal {opacity: 0;}
.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-1 {transform:rotate(135deg);-webkit-transform:rotate(135deg);margin-top:10px;}
.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-2 {transform:rotate(-135deg);-webkit-transform:rotate(-135deg);margin-top:-10px;}


.page__content, .button, .alert-dialog, .alert-dialog-title, .alert-dialog-button{
  font-family: 'Oswald', sans-serif;
}

.alert-dialog, .alert-dialog-button{
  font-family: 'Istok Web', sans-serif;
}

.logo-xs{
  background:  transparent url(img/logo.xs.png) no-repeat center center;
  display: block;
  height: 120px;
  width: 120px;
  margin: 10px auto;
}

.logo{
  background:  transparent url(img/logo.png) no-repeat center center;
  display: block;
  height: 210px;
  width: 210px;
  margin: 10px auto;
}

.page__content, .button {
  padding: 0 20px;
  margin: 5px 0;
}

.bg-blue > section > .page > .page__background, .bg-white > section > .page > .page__background, .bg-food > section > .page > .page__background {
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
}

.bg-blue > section > .page > .page__background{
  background-image: url(img/bg.blue.jpg);
  background-color: #031B25;
}

.bg-white > section > .page > .page__background{
  background-image: url(img/bg.white.jpg);
  background-color: #FFFFFF;
}

.bg-food > section > .page > .page__background{
  background-image: url(img/bg.food.jpg);
  background-color: #031B25;
}

.menu-item-border{
  /*border-bottom: 1px dotted #76797A;*/
  display: block;
  width: 100%;
  margin: 5px ;
  padding-left: 25px;
}

.border-left{
  border-left: 1px dotted #76797A;
  margin: 0 5px;
}

.border-right{
  border-right: 1px dotted #76797A;
  margin: 0 5px;
}

.border-bottom{
  border-bottom: 1px dotted #76797A;
  margin: 0 5px;
}

.border-top{
  border-top: 2px dotted #EAEAEA;
  margin: 2px 0;
}

.line-border{
  border-bottom: 1px solid #76797A;
  display: block;
  width: 100%;
  margin: 10px 0;
}

.height-100{
  height: 100%;
}

.height-90{
  height: 90%;
}

.height-80{
  height: 80%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.no-underline{
  text-decoration: none;
}

.link-menu, .link-menu:hover{
  font-size: 0.85em;
  color: #767E81;
  font-variant: normal;
  text-decoration: none;
  margin-bottom: 10px;
}

.link-menu:hover{
  color:#E68C1B;
}

.link-button, .link-button:hover{
  color: #2C6590;
  font-variant: normal;
  text-decoration: none;
  margin-bottom: 10px;
}

.link-button:hover{
  color:#F83C3C;
}

.select-product-link{
  display: none;
}
.select-product-link, .select-product-link:hover{
  font-size: 0.90em;
  color: #8AC04E;
  font-variant: normal;
  text-decoration: none;
  margin: 0;
  margin-bottom:10px;
  padding: 0;
  padding-left: 20px;
}

.select-product-link:hover{
  text-decoration: underline;
}

.text-title{
  font-size: 1.3em;
}
.text-subtitle{
  font-size: 1.1em;
}
.text-high{
  font-size: 1.01em;
}

.text-desc{
  font-size: 1em;
}
.text-normal{
  font-size: 0.8em;
}
.text-unbold{
  font-weight: normal;
}
.text-bold{
  font-weight: bold;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777;
}
.text-black {
  color: #000;
}

.text-blue{
	color: #1B97D1;
}
.text-white {
  color: #FFF;
}
.text-success {
  color: #3c763d;
}
.text-info {
  color: #31708f;
}
.text-warning {
  color: #F8971C;
}
.text-danger {
  color: #eb482f;
}
.text-ambar{
  color: #E68C1B;
}
.text-grey{
  color: #DFDFDF;
}
.text-melon{
  color: #EDC8C2;
}
.text-green{
  color: #71B328;
}

.sublist{
  padding-left: 10px;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after{
  clear: both;
 }

input[type=text], input[type=search], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 1px 0px;
  /*margin: 5px 1px 3px 0px;*/
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, input[type=search]:focus, textarea:focus {
  box-shadow: 0 0 6px #7AADD6;
 /* padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;*/
  border: 1px solid #7AADD6;
}

label, input{
  display: block;
  clear: both;
  font-size: 0.85em;
  margin: 5px 0;
}

.input-ok{
  box-shadow: 0 0 6px #4CAF50;
  border: 1px solid #4CAF50;
}

.input-error{
  box-shadow: 0 0 6px #ff1a1a;
  border: 1px solid #ff1a1a;
  background-color: #F9E5E5;
}

.label-error{
  white-space: normal;
}

.icon-order-white{
  background: transparent url(img/order.white.png) no-repeat left top;
  display: block;
  height:46px;
  width:36px;
}

.circle-image, .circle-image-user {
  height: 80px;
  width: 80px;
  padding: 6px;
  background-color: #ededed;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
}

.circle-image-user{
	height: 120px;
	width: 120px;
	padding: 2px;
	background-color: #001825;
}

.list-properties{
  padding: 0px;
  margin: 2px;
  list-style: none;
}

.list-properties li{
  display: block;
  margin: 2px 0;
}

.list{
  background: transparent;
  border: none;
}

.list-item-container {
  font-size: 0.8em;
  padding: 10px 0px;
}

.list-item-left {
  width: 90px;
  margin-right: -80px;
  float: left;
}

.list-item-right {
  width: 100%;
  float: right;
}

.list-item-content {
  margin-left: 5px;
  margin-right: 5px;
}

span.detail-subtotal, span.detail-total{
  margin: 2px 0;
  padding: 0 10px;
}

div.price-subtotal, div.price-total{
  margin: 0;
  padding: 0 10px;
}

span.detail-total, div.price-total {
  color: #26608C;
  font-size: 1.2em;
}
/**** search box  ********/


.searchbox-container, .input-container{
  overflow: visible;
  width: 99%;
  vertical-align: middle;
  white-space: nowrap;
  margin: 4px auto;
}

.searchbox-container input[type=search],
.input-container input[type=email],
.input-container input[type=text],
.input-container input[type=password]{
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #CDCDCD;
  font-size: 0.9em;
  float: left;
  color: #000;
  padding-left: 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 4px auto;
}

.searchbox-container input[type=search]::-webkit-input-placeholder,
.input-container input[type=email]::-webkit-input-placeholder,
.input-container input[type=text]::-webkit-input-placeholder,
.input-container input[type=password]::-webkit-input-placeholder {
   color: #65737e;
}

.searchbox-container input[type=search]:-moz-placeholder,
.input-container input[type=email]:-moz-placeholder,
.input-container input[type=text]:-moz-placeholder,
.input-container input[type=password]:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.searchbox-container input[type=search]::-moz-placeholder,
.input-container input[type=email]::-moz-placeholder,
.input-container input[type=text]::-moz-placeholder,
.input-container input[type=password]::-moz-placeholder{  /* Firefox 19+ */
   color: #65737e;
}

.searchbox-container input[type=search]:-ms-input-placeholder,
.input-container input[type=email]:-ms-input-placeholder,
.input-container input[type=text]:-ms-input-placeholder,
.input-container input[type=password]:-ms-input-placeholder {
   color: #65737e;
}

.searchbox-container button.icon, .input-container button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  background: #2C6590;
  height: 42px;
  width: 40px;
  color: #FFFFFF;
  opacity: 0;
  font-size: 10pt;
  margin-top: 4px;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.searchbox-container:hover button.icon, .searchbox-container:active button.icon, .searchbox-container:focus button.icon,
.input-container:hover button.icon, .input-container:active button.icon, .input-container:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -40px;
}

.searchbox-container:hover button.icon:hover,
.input-container:hover button.icon:hover{
  color: #2C6590;
  background: #FFFFFF;
  cursor: pointer;
}

/***** ! search box ******/
/***** image responsive *****/
/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: 0.5s;
    -moz-animation-delay:0.5s;
    animation-delay: 0.5s;
}

img.ri
{
  position: relative;
  max-width: 100%;
  border-radius: 4px;
}

img.ri:empty
{
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);

}


@media screen and (orientation: portrait) {
  img.ri {
      max-width: 100%;
  }
}

@media screen and (orientation: landscape) {
  img.ri {
      max-height: 100%;
  }
}
/***** ! image responsive *****/
/***** slide menu *****/
nav#slide-menu {
  position: fixed;
  top: 0;
  left: -100px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 100%;
  height: 100%;

  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;

  > ul {
    display: block;
    margin: 40px;
    padding: 0;
    list-style: none;
    opacity: 0.5;

    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;

    li {
      color: #dfe5eb;
      padding: 6px 0;
      cursor: pointer;

      &:hover { color: #59e9df; }
    }

    li:before {
      font-family: "ico";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      color: #59e9df;
      margin-right: 12px;
      text-align: center;
      font-variant: normal;
      font-size: 0.75em;
      text-transform: none;
      line-height: 1em;
    }

    li.sep {
      margin-top: 7px;
      padding-top: 14px;
      border-top: 1px solid lighten(#556270, 10%);
    }

    li.timeline:before { content: '\e805'; }
    li.events:before { content: '\e802'; }
    li.calendar:before { content: '\e800'; }
    li.settings:before { content: '\e803'; }
    li.logout:before { content: '\e804'; }
  }
}

body.menu-active nav#slide-menu { left: 0px; }
body.menu-active nav#slide-menu ul { left: 0px; opacity: 1; }


ons-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  border-radius: 0;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-box-shadow: -9px 0px 8px -6px rgba(0,0,0,0.6);
  -moz-box-shadow: -9px 0px 8px -6px rgba(0,0,0,0.6);
  box-shadow: -9px 0px 8px -6px rgba(0,0,0,0.6);

  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;


}

body.menu-active ons-page { left: 85%; border-radius: 7px 0 0 7px; }

/***** !slide menu *****/

/*** left menu ***/
ul.list-menu {
    position:relative;
    background:#fff;
    width:100%;
    margin:auto;
    padding:0;
    list-style: none;
    overflow:hidden;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.1); 
  }

  .list-menu li a {
    width:100%;
    padding-left:20px;
    height: 50px;
    line-height:50px;
    display:block;
    overflow:hidden;
    position:relative;
    text-decoration:none;
    text-transform:uppercase;
    font-size:14px;
    color:#686868;

    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
  }

  .list-menu li a:hover {
    background:#efefef;
  }

  .list-menu li a.home {
    border-left:5px solid #008747;
  }

  .list-menu li a.login {
    border-left:5px solid #fecf54;
  }

  .list-menu li a.logout {
    border-left:5px solid #cf2130;
  }

  .list-menu li a.logout {
      border-left:5px solid #dde2d5;
  }

  .list-menu li:first-child a:hover, .list-menu li:first-child a {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
  }

  .list-menu li:last-child a:hover, .list-menu li:last-child a {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }

  .list-menu li a:hover i {
    color:#ea4f35;
  }

  .list-menu i {
    margin-right:15px;

    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear; 
  }


  .list-menu li.selected a {
    background:#efefef;
  }

/*** ! left menu ***/

/***** alert *****/
.alert {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}


button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-color: transparent;
  border-top: 1px solid #a6e1ec;
  margin: 0;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
	border-color: transparent;
  border-top: 1px solid #f7e1b5;
  margin: 0;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
	border-color: transparent;
  border-top: 1px solid #e4b9c0;
  margin: 0;
}
.alert-danger .alert-link {
  color: #843534;
}

.alert-white {
  color: #00004D;
  background-color: #FFFFFF;
  border-color: #EAEAEA;
}
.alert-white hr {
 	border-color: transparent;
  border-top: 1px solid #EAEAEA;
  margin: 0;

}
.alert-white .alert-link {
  color: #843534;
}
/**** ! alert *****/

.menu-button-square, .menu-button-circle {
  margin: 5px 0;
  padding: 0;
  border: 0;
}

.menu-button-circle {
  border-bottom: 2px dotted #EAEAEA;
  padding: 5px;
}

/*** swipe - menu ***/
.swipe-menu{
  display: inline-block;
  float: left;
  width: auto;
  height: auto;
  /*z-index: 9;*/

  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.swipe-menu-active{
  display: inline-block;
  width: auto;
}

.swipe-main{
  /*display: block;*/
  margin-left: -125px;
  float: left;
  /*width: 120%;*/
  height: auto;

  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.swipe-main-move{
  margin-left: 0;
}
/*** ! swipe - menu ***/

/*** list circle icons ***/
ul.list-circle-icons {
  display: block;
  padding: 10px 0px;
  list-style: none;
}

ul.list-circle-icons li {
  display: inline-block;
  font-size: 1.2em;
  padding: 0px 5px;
}

ul.list-circle-icons i {
  background: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}

ul.list-circle-icons i.hover-red:hover{
    background: #eb482f;
}
ul.list-circle-icons i.hover-blue:hover{
    background: #31708f;
}
ul.list-circle-icons i.hover-green:hover{
    background: #3c763d;
}
ul.list-circle-icons i.hover-yellow:hover{
    background: #E68C1B;
}


/*** ! list circle icons ***/


.remove-item {
    animation: remove-item-animation .8s cubic-bezier(.65,-0.02,.72,.29);
}

@keyframes remove-item-animation {
  0%  { opacity: 1; transform: translateX(0);}
  30% { opacity: 1; transform: translateX(50px);}
  80% { opacity: 1; transform: translateX(-800px);}
  100%{ opacity: 0; transform: translateX(-800px); display: none;}
}

/*****************/

.product-property-selection,{
  padding-left: 15px;
}

.product-property-selectable:before, .product-property-selection:before, .product-property-selection:after{
  display: inline-block;
  margin-right: 0.1em;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.product-property-selectable:before{
  content: '\f096';
}

.product-property-selectable:hover{
  content: '\f046';
}

.product-property-selection:before{
  content: '\f046';
}
 .product-property-selection:after{
  padding-left: 5px;
  content: '\f138';
 }

 .product-property-unique{
  font-size: 0.85em;
 }

.product-property-unique:before{
  content: '\f00c';
}

.product-property-unique:after{
  content: '';
 }



.add-product-cart {
    animation: add-product-cart-animation .3s cubic-bezier(.55,-0.04,.91,.94) forwards,
    openspace 2s ease forwards,
    restored-item-animation .6s .6s cubic-bezier(0,.8,.32,1.07) forwards;
}

@keyframes add-product-cart-animation {
   from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes openspace {
    to {
        height: auto;
    }
}

@keyframes restored-item-animation {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


@-webkit-keyframes pulse {
    0%    { opacity: 1; }
    25%   { opacity: 0.75; }
    50%  {  opacity: 0.50; }
    75%  { opacity: 0.25; }
    100%  { opacity: 0; }
}

.pulse-group .icon-pulse {
    display: inline-block;
    -webkit-animation: pulse 1s .08s 3 linear;
    padding: 0;
    margin: 0 -4px;
}

.pulse-group .icon-pulse:nth-child(2) {
    -webkit-animation-delay: .16s;
}

.pulse-group .icon-pulse:nth-child(3) {
    -webkit-animation-delay: .24s;
}

.show-details-label{
  content: 'Ocultar detalles';
}
.no-display{
  display: none;
}

.icon-visa,.icon-visaelectron, .icon-mastercard, .icon-americanexpress, .icon-amex, .icon-discover, .icon-dinersclub{
  background: none;
  width: 48px;
  height: 48px;
  display: inline-block;
  margin: 0 4px;
}

.icon-visa{background: transparent url('img/cc.visa.png') no-repeat left top;}
.icon-visaelectron{background: transparent url('img/cc.visaelectron.png') no-repeat left top;}
.icon-mastercard{background: transparent url('img/cc.mastercard.png') no-repeat left top;}
.icon-americanexpress, .icon-amex{background: transparent url('img/cc.americanexpress.png') no-repeat left top;}
.icon-discover{background: transparent url('img/cc.discover.png') no-repeat left top;}
.icon-dinersclub{background: transparent url('img/cc.dinersclub.png') no-repeat left top;}
.item-card-options{
  position: relative;
  float: left;
}

.order-status-generado, .order-status-pendiente, .order-status-local, .order-status-produccion,.order-status-enviado, .order-status-recibido, .order-status-error-datos, .order-status-error-conexion,.order-status-anulado,.order-status-no-status{
  border-left: 10px solid transparent;
  padding-left: 5px;
}

.order-status-generado, .order-status-pendiente{ border-color: #BEC3C4;}
.order-status-local{border-color: #153656;}
.order-status-produccion{border-color: #EDDE07;}
.order-status-enviado{border-color: #F8971C;}
.order-status-recibido{border-color: #71B328;}
.order-status-error-datos,.order-status-error-conexion{border-color: #B5B3B3;}
.order-status-anulado{border-color: #F53416;}
.order-status-no-status{border-color: #97CFF7;}

.order-status-generado-text, .order-status-pendiente-text{color: #BEC3C4;}
.order-status-local-text{color: #153656;}
.order-status-produccion-text{color: #EDDE07;}
.order-status-enviado-text{color: #F8971C;}
.order-status-recibido-text{color: #71B328;}
.order-status-error-datos-text,.order-status-error-conexion-text{color: #B5B3B3;}
.order-status-anulado-text{color: #F53416;}
.order-status-no-status-text{color: #97CFF7;}

.order-history-item{
  margin: 5px 0;
  border-bottom: 1px dotted #DDDDDD;
}

.fulloverlay{
    opacity:0.7;
    filter: alpha(opacity=20);
    background-color:#000;
    width:100%;
    /*height:100%;*/
    height: 100vh;
    z-index:101;
    top:0;
    left:0;
    position:fixed;
}

.item-product-border{
	border-bottom: 1px dotted #DDDDDD;
	display: block;
	width: 100%;
	height: 6px;
	margin-top: 3px;
}
.item-card-list{
	background-color: transparent;
	display: inline-block;
}

/** inputfile **/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.5em;

}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 2px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile + label {
    color: #FFFFFF;
    background-color: transparent;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    background-color: transparent;
}

.bottom-bar{
	background-color: transparent;
	border: none;
}
.fab--top__right{
	top:0;
}

/*#slide_menu{
	z-index: 100;
}*/

.zero-margin{
	margin: 0;
	z-index: 1000;
}

#slide_button{
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
}

#slide_menu{
    position:fixed;
    top:0;
    left:0;
    width:200px;
    height:100%;
    margin:0 0 0 -200px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
    z-index: 0;
}
#slide_menu ul{
    width:200px;
    height:100%;
    padding:0;
    margin:0;
    list-style:none;
    background:#222;
    overflow:hidden;
}
#slide_menu li{
    margin:0;
}
#slide_menu a{
    color:#fff;
    font-size:1em;
    text-decoration:none;
    display:block;
    padding:10px;
    border-bottom:1px solid #333;
    font-weight: normal;
    font-style: normal;
}
#slide_menu a:hover{
    background:#111;
}

.slide-button{
	-webkit-transform:translate3d(200px, 0, 0);
  -moz-transform:translate3d(200px, 0, 0);
  -o-transform:translate3d(200px, 0, 0);
  transform:translate3d(200px, 0, 0);
  margin-left: 200px;
}

.no-border{
	border:none;
}
.modal{
	z-index:999;
}

@keyframes border-pulsate {
    0%   { border-color: rgba(255, 0, 0, 1); }
    50% { border-color: rgba(255, 0, 0, 0); }
    100%   { border-color: rgba(255, 0, 0, 1); }
}

.border-pulsate {
    border: 2px solid #FF0000;
    animation: border-pulsate 2s infinite;
}

.product-row-remove{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #FBA1A1;
}

.product-row-selected{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #1B97D1;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
	/*border: 2px outset #1B97D1;*/
}

.spin-add, .spin-sub {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:10px;
	margin:0;
	text-decoration:none;
	text-align: center;
	display: none;
	/*width: 30px;
	height: 30px;
	line-height: 21px;*/
}
.spin-add:hover, .spin-sub:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.spin-add:active, .spin-sub:active {
	position:relative;
	top:1px;
}

.spin-sub{
	-moz-box-shadow: 9px 0px 11px -6px #02000a;
	-webkit-box-shadow: 9px 0px 11px -6px #02000a;
	box-shadow: 9px 0px 11px -6px #02000a;
	border-radius:0 0 0 10px;
	margin: 0 0 -2px -2px;
}

.spin-add{
	-moz-box-shadow: -9px 0px 11px -6px #02000a;
	-webkit-box-shadow: -9px 0px 11px -6px #02000a;
	box-shadow: -9px 0px 11px -6px #02000a;
	border-radius:0 0 10px 0;
	margin: 0 -2px -2px 0;
}

.spin-row{
	background-color: none;
	border-radius:0 0 10px 10px;
}

.spin-row-active{
	background-color: #E8F4FA;
	border-radius:0 0 10px 10px;
}


.btn-product-options {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
	background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
	background-color:#77d42a;
	-moz-border-radius:10px 0 0 0;
	-webkit-border-radius:10px 0 0 0;
	border-radius:10px 0 0 0;
	border:2px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#FFF;
	padding:6px 12px;
	text-decoration:none;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.btn-product-options:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
	background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
	background-color:#5cb811;
}
.btn-product-options:active {
	position:absolute;
	top: 0;
}

.btn-return-front{
	margin: -2px 0 0 -2px;
}

/****flip products ****/
.flipcard {
    perspective: 800;
    -moz-perspective: 800;
    -webkit-perspective: 800;
    margin: 5px auto;
    width: 100%;
/*    border: solid 1em white;
    border-radius: 0.5em;
    font-family: Georgia;*/
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 1.5s;
    -moz-transition: 1.5s;
    -webkit-transition: 1.5s;
    cursor: pointer;
}
.flipcard:hover {
/*		padding:5px;
    box-shadow: 0 0 5px black;*/
}
.flipcard.flipped {
		transform: rotatex(-180deg);
    -moz-transform: rotatex(-180deg);
    -webkit-transform: rotatex(-180deg);
    -webkit-transition: 1.5s;
    transition: 1.5s;
    -moz-transition: 1.5s;
}
.flipcard .face {
/*    padding: 1em;
    text-align: center;
*/    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.flipcard .front {
/*    background: #220000;
    color: white;
*/    display: block;
}
.flipcard.flipped .front {
    display:none;
}
.flipcard .back {
  /*  background: #66eeff;
    color: blacy;
*/    transform: rotatex(180deg);
    -moz-transform: rotatex(180deg);
    -webkit-transform: rotatex(180deg);
    -webkit-transition: 1.5s;
    transition: 1.5s;
    -moz-transition: 1.5s;
    display:none;
}
.flipcard.flipped .back {
    display:block;
}
/****************/
.item-product-row{
	margin: 5px 0;
}

.item-product-row-info{
	background-color: none;
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
}

.product-back-side{
	background-color: #ffffff;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #268A16;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);

}
.bg-white{
	background-color: #FFFFFF;
}

.button-green{
	background-color: #71B328;
	color: #FFFFFF;
}

.toolbar-notification{
	margin: 12px 5px 0 0;
  font-size: 0.7em;
}